.cart-img-thumbnail{
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius:5px;

}

.cart-item-img{
    width: 80%;
    height: 100%;
}

.cart-item-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2% 0%;
    justify-content:center;
}

.cart-item-details {
    width: 100%;
}

.cart-item-qty{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cart-item-title{
    padding-left:3%;
    padding-bottom: 2%;
    font-weight:800;
}

.cart-item-price{
    margin-top:3%;
    padding-left:3%;
}